/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #432818;
    background-color: #FFF6FC;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #3A1304;
}
.header__logo {
    display: flex;
    flex-direction: column;
}

.header__name {
    font-size: 28px;
    font-weight: bold;
    color: #e35e99;
}

.header__role {
    font-size: 28px;
    color: #3A1304;
}

.menu__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.menu__item_filled .menu__link {
    /* color: #e35e99; */
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #e35e99;
    border-radius: 50px;
}
.menu__item {
    color: #3A1304;
    font-size: 28px;
}

.menu__item a:hover {
    border-bottom: 1px solid #3A1304;
}
/* ABOUT */
.about__container {
    display: flex;
    padding: 50px;
    gap: 30px;
}
.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
}

.about__image {
    max-width: 600px;
}

.about__img {
    width: 100%;
    border-radius: 10px;
}

.about__title {
    font-size: 42px;
    font-weight: bold;
    color: #3A1304;
    margin: 0;
}

.about__list {
    list-style: none;
    padding: 0;
}

.about__item {
    font-size: 28px;
    margin-bottom: 10px;
}

.about__highlight {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #432818;
}

/* STATS */
.stats__container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 40px;
    background-color: #fff;
    border-top: 1px solid #f3e6e6;
    border-bottom: 1px solid #f3e6e6;
}

.stats__item {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e35e99;
    border-radius: 50px;
    padding: 20px;
    width: 30%;
}

.stats__value {
    font-size: 36px;
    font-weight: bold;
    color: #EF7CC5;
    margin: 0px;
}

.stats__description {
    font-size: 20px;
    line-height: 1.5;
}

/* FOOTER */
.footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #755139;
    font-size: 28px;
}
